<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>&copy; <a href="/">agileradio</a></p>
      <p><small>アジャイルラジオは、<a href="https://scrumdo-kansai.connpass.com/">スクラム道関西</a>の協力でお送りしています。</small></p>
      <p>
        <a href="https://twitter.com/agileradio15">
          <span class="icon"><i class="fab fa-twitter"></i></span>
        </a>
        <a href="https://facebook.com/AgileRadio">
          <span class="icon"><i class="fab fa-facebook"></i></span>
        </a>
      </p>
    </div>
  </div>
</footer>
