<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
  <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/rss.xml' | absolute_url }}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div class="container">
  <nav class="navbar is-fixed-top is-expanded is-light has-shadow is-spaced">
    <div class="navbar-brand has-text-weight-bold">
      <a class="navbar-item" href="{{ '/' | prepend: site.baseurl }}">
        <img src="/assets/img/avatar.png" alt="logo">
        {{ site.name }}
      </a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://twitter.com/agileradio15">
          <span class="icon"><i class="fab fa-twitter"></i></span> Twitter
        </a>
        <a class="navbar-item" href="https://facebook.com/AgileRadio">
          <span class="icon"><i class="fab fa-facebook"></i></span> Facebook
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            スクラム道関西
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://scrumdo-kansai.connpass.com/">
              Connpass
            </a>
            <a class="navbar-item" href="https://facebook.com/ScrumDoKansai/">
              Facebook
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<main>
  {{ content }}
</main>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>&copy; agileradio</p>
      <p><small>
        アジャイルラジオは、<a href="https://scrumdo-kansai.connpass.com/">スクラム道関西</a>の協力でお送りしています。
      </small></p>
    </div>
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
</script>
</body>
</html>
