---
layout: default
---
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container is-fluid">
      {% if page.episode %}
        <h3>Episode {{ page.episode }}</h3>
      {% endif %}
      <h1 class="title">
        {{ page.title }}
      </h1>
      <h2 class="subtitle">
        {{ page.description }}
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-fluid">
    <div class="content">
      {{ content }}

      {% if page.audio %}
      <div>
        <audio src="https://drive.google.com/uc?id={{ page.audio }}" controls></audio>
      </div>
      {% endif %}
      {% if page.mp3file %}
      <div>
        <audio src="http://agileradio-assets1.s3-website-us-west-1.amazonaws.com/mp3/{{ page.mp3file }}"
               controls></audio>
      </div>
      {% endif %}
    </div>
  </div>
</section>
